// Checkbox
//
// Les checkox.<br>
// Il existe une seule taille de checkbox, "default".<br>
// Pour créer une checbox "default", ajouté la classe "checkbox__default".<br>
//
// Style de base et états
//
// .checkbox__default     - formulaire "default"
// :focus             - état Focus
// .disabled          - formulaire "Disabled"
//
// Markup: checkbox.hbs
//
// Style guide: atoms.3
