// Input
//
// Les champs de formulaires.<br>
// Il existe une seule taille de champ de formulaire, "default".<br>
// Pour créer un input "default", ajouté la classe "form__default".<br>
//
// Style de base et états
//
// .form__default     - formulaire "default"
// :focus             - état Focus
// .disabled          - formulaire "Disabled"
//
// Markup: input.hbs
//
// Style guide: atoms.2

.form
  height 40px
  &__default
    background yellow
    color lime
  &:focus
    outline 5px solid purple
